# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
.env
.env.*
venv/
.venv/
.coverage
*.ipynb_checkpoints/
explore_*.py

# Données brutes
/data/
*.xlsx
*.csv
!dbt_project/seeds/*.csv

# dbt
logs/
target/
dbt_packages/

# Secrets
*.p8
*.pem